*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
  }
  
  body{
    background-color: rgb(255, 221, 249);
  }
  
  h1{
    font-size: 34px;
  }
  
  h2{
    font-size: 20px;
  }
  
  .card{
    display: flex;
    width: fit-content;
    flex-direction: column;
    background-color: rgb(255, 164, 238);
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
  }
  
  .card:hover{
    transition: 0.2s;
    box-shadow: 5px 5px 5px black;
  }
  
  .card:not(:hover){
    transition: 0.2s;
  }
  
  .card h2{
    margin: 10px;
  }
  
  .animalList img{
    width: 200px;
    height: 100px;
    border-radius: 10px 10px 0 0;
  }
  
  header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 164, 238);
  }
  
  .animalList{
    margin: 80px auto;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .detailCard{
    padding: 20px;
    background-color: rgb(255, 187, 242);
    box-shadow: 3px 3px 5px black;
    border-radius: 10px;
    height: 80vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  
  .detailCard button{
    width: 90%;
    height: 25px;
    border: none;
    background-color: rgb(255, 137, 233);
  }
  
  .detailCard *{
    text-align: center;
  }
  
  .detailCard img{
    width: 200px;
  }
  
  .detailPageMain{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .detailInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }